// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Slabo 27px', serif;
  background-color: #efeded;
}

h1 {
  font-family: 'Slabo 27px', serif;
  font-weight: bold;
}

.item {
  padding: 30px;
  background-color: white;
  box-shadow: -10px 0px blue;
  margin: 20px;
}

.answer {
  font-weight: bold;
  font-size: 30px;
}

.back {
  color: blue;
  text-decoration: none;
}
